@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="text-align: justify" class="display-4">Projeto de Estudo My Password Plataform</h1>
    <p style="text-align: justify">
        Projeto desenvolvido utilizando conceitos de injeção de dependências nativo no .NET CORE, <br />
        Utilizando também $.ajax e ajax-unobtrusive para construção das telas.Aplicado tambem PartialView() <br />
        para construção de Modais baseadas no Bootstrap 4.
    </p>
    <p style="text-align: justify">
        Espero que esse projeto possa te ajudar, assim como me ajudou no aprendizado de .NET CORE
    </p>
</div>
